// Button Overrides
.pure-button {
  background-color: $gray;
  color: $blue-secondary;
}

.pure-button.pure-button-primary {
  background-color: $blue-secondary;
  color: $white;
}

a.pure-button,
a.pure-button:focus,
a.pure-button:hover {
  text-decoration: none;
}
