{% extends 'base.html.twig' %}

{% block title %}Hello GroupMeetingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    {{ dump(group_meetings[0].motherIdentifiers) }}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/amitaibu/Sites/mdr-git/app/src/Controller/GroupMeetingController.php'|file_link(0) }}">src/Controller/GroupMeetingController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/amitaibu/Sites/mdr-git/app/templates/group_meeting/index.html.twig'|file_link(0) }}">templates/group_meeting/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
