{% extends 'base.html.twig' %}

{% block title %}Hello GroupMeetingController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Group Meetings</h1>

    <ul>
        {% for group_meeting in group_meetings %}
            <li>
                <a href="{{ path('group_meeting', {fileId: group_meeting.fileId}) }}">
                    {{ group_meeting.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

{#    <details>#}
{#        {{ dump(group_meetings[0]) }}#}
{#    </details>#}


</div>
{% endblock %}
