{% extends 'base.html.twig' %}

{% block title %}Group meetings{% endblock %}

{% block body %}

<div class="app-page">
  <h1>Group Meetings</h1>

  <ul class="group-meetings app-list">

    {% for row in group_meetings_attendance_list %}
      <li>
        <a class="item" href="{{ path('group_meeting', {id: row.groupMeeting.id}) }}">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class="item-name">
              {{ row.groupMeeting.name  }}
            </div>
        </a>
      </li>
    {% endfor %}

  </ul>

{#    <details>#}
{#        {{ dump(group_meetings[0]) }}#}
{#    </details>#}


</div>

{% endblock %}
