@import "tachyons.min.css";

#page-container {
  position: relative;
  min-height: 100vh;

  background: url('./images/undraw_social_user_lff0.svg') 100% 0 no-repeat;
  background-size: contain;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
